* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-pink:#e1acc8;
    --main-red:#cb85ab;
    --main-grey: #ebebeb;
}
body{
    background-color: var(--main-grey);
    margin: 0;
    padding-bottom: 60px;
}
input{
    cursor: pointer;
    padding: 1px 0;
}


/*导航栏*/
nav{
    margin-bottom: 60px; /*设置子盒子的上边距*/
    box-shadow: 0px -3px 20px 0px grey;
}
.box1{
    height: 50px;  /*高度设置为50px*/
    background-color: var(--main-pink);  /*背景颜色*/
    display: flex;  /*flex布局*/
}
.icon{  /* "?"图标 */
    .circle {
        fill: white; /* 圆的填充颜色 */
    }
    .question-mark {
        fill: var(--main-pink); /* 问号的填充颜色 */
        font-size: 30px;  /*字体大小*/
        font-weight: bold; /* 字体加粗 */
    }
}
.box1-1{  /*显示“问卷管理”的文字*/
    display: flex;  /*flex布局*/
    font-size: 30px;  /*字体大小*/
    align-items: center;  /*文字垂直居中*/
    color: white;  /*文字颜色*/
    font-weight: bold; /*文字粗细*/
    font-family: 黑体;  /*字体*/
}
.box1-2{  /*显示“我的问卷”的文字*/
    display: flex;  /*flex布局*/
    align-items: center;  /*文字垂直居中*/
    font-size: 20px;  /*字体大小*/
    letter-spacing: 1px; /*文字间距*/
    margin-left: 3%; /*左边间距*/
}
.Home{  /*链接*/
    text-decoration: none;  /*取消下划线*/
    color: white;  /*字体颜色*/
    background-color: var(--main-pink);  /*设置背景颜色*/
    border-color: var(--main-red);  /*边框颜色*/
    border-width: 3px;  /*边框宽度*/
    border-style: solid;  /*设置边框为实线*/
    padding: 2.5px 0.5px 3px 0.5px;
}
.Home:hover{
    color: var(--main-red);  /*字体颜色*/
    font-weight: bold;
    background-color: white;  /*设置背景颜色*/
}
/*导航栏*/

.box2{
    display: grid;
    align-items: center;  /*垂直居中*/
    justify-items: center;  /*水平居中*/
}
.surveyCont{
    width: 85%;
    background-color: var(--main-grey);  /*背景图*/
    display: flex;  /*flex布局*/
    align-items: center;  /*垂直居中*/
    justify-items: center;  /*水平居中*/
    overflow: visible; /* 允许内容溢出 */
    flex-direction: column;   /*子盒子垂直排列*/
}
.list{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr repeat(4,2fr) 4fr 2fr;
    margin-bottom: 10px;
    align-items: center;
}
.item{
    color: var(--main-red);
    font-weight: bold;
    justify-self: start;
}
#AllTopic{
    margin-left: 25px;
}
.itemButton{
    justify-self: end;
    input{
        cursor: pointer;
        color: white;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: var(--main-pink);
        border: solid var(--main-red) 2px;
        border-radius: 5px;
        padding: 2px 7px;
    }
}


#SurveyItem{
    width: 100%;
    background-color: white;  /*设置背景颜色*/
    display: flex;
    flex-direction:column;   /*子盒子排列*/
}
.SurveyOperation{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr repeat(4,2fr) 6fr;
    align-items: center;
}
.detail{
    display: inline;
    padding: 30px 0;
}
hr{
    width: 99%;
    margin: auto; /*水平居中*/
    height: 0.5px; /*加粗*/
    background-color: rgb(220, 220, 220);
}


.quanbu{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 20px 0;
    input{
        margin-right: 5px;
    }
    div{
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
        input{
            margin-right: 0px;
        }
    }
}

